body {
    font-size: 120%;
     font-family: Arial;
   }
  
   button,
   input {
     font-size: 100%;
     font-family: Arial;
   }
   table {
    width: 100%;
  }
  td,
  th {
   border: 1px solid #a29d9d;
   text-align: left;
   padding: 8px;
   width: 90%;
   margin: 0 auto;
 }

 .clear-button-container {
   display: flex;
   justify-content: center;
   align-items: center;
 }